.rootC{
    background-image: url("../../imgs/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 100vh;

} 
#gridC {
    height: 100%;
}
#columnC {
    max-width: 900px;
    max-height: 700px;
}
#formC{
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 15px 15px 13px 15px #000000;
    border-color: red;
    padding: 5px;
  }

  .scroller {
    height: 285px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  th {
    width: 30%;
  }
  
  
  th.From, th.Date {
    width: 15%;
  }
  
  th.Date {
    width: 70%;
  }
  

  #encabezadoC{
    display: block;
    text-align: left;
    float: left;
  }
  #segmentC{
    height: 650px;
    width: 850px;
  }

  #table_comm{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
