.root{
    background-image: url("../../imgs/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 100vh;

} 
.grid {
    height: 100%;
}
.column {
    max-width: 900px;
    max-height: 600px;
}
.form{
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 15px 15px 13px 15px #000000;
    border-color: red;
    padding: 5px;
  }
  #encabezado{
    display: block;
    text-align: left;
    float: left;
  }
  .segment{
    height: 550px;
    width: 850px;
  }
